.products {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #3c4854;
  border-radius: 5px;
  .product {
    width: 120px;
    margin: 10px;
    img {
      width: 100%;
    }
    small {
      display: block;
    }
  }

}
