<div class="edit-container">
<p>Заполните поля</p>
<mat-form-field>
  <mat-label>Name Book</mat-label>
  <label>
    <input matInput [(ngModel)]="book.name">
  </label>
</mat-form-field>
<mat-form-field>
  <mat-label>Description Book</mat-label>
  <label>
    <textarea matInput [(ngModel)]="book.description"></textarea>
  </label>
</mat-form-field>
<mat-form-field>
  <mat-label>Author Book</mat-label>
  <label>
    <input matInput [(ngModel)]="book.author">
  </label>
</mat-form-field>
<mat-form-field>
  <mat-label>Category Book</mat-label>
  <label>
    <input matInput [(ngModel)]="book.category">
  </label>
</mat-form-field>
<mat-form-field>
  <mat-label>Price Book</mat-label>
  <label>
    <input matInput [(ngModel)]="book.price">
  </label>
</mat-form-field>
  <div class="actions">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="accept()">Ok</button>
  </div>
</div>
