<div class="cart">
  <div class="cart-title_container">
    <h2 class="cart_title">{{'Cart list' | titlecase}}</h2>
  </div>
<div class="cart-content">
  <div class="options">
    <div class="sort_container">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="name">name</mat-option>
          <mat-option value="price">price</mat-option>
          <mat-option value="count">count</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button class="sort-type" (click)="trigger()" mat-mini-fab>
          <mat-icon *ngIf="descending">expand_less</mat-icon>
          <mat-icon *ngIf="!descending">expand_more</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="warn" (click)="clearCaart()">Clear Cart</button>
  </div>


  <app-cart-list (delete)="deleteBook($event)"
                 (increase)="increase($event)"
                 (decrease)="decrease($event)"
                 [cart]="cart"
                 [selected]="selected"
                 [descending]="descending"
                 *ngIf="totalQuantity>0; else empty"></app-cart-list>

  <ng-template #empty>
    <div>Empty cart</div>
  </ng-template>
  <div class="total">
    <h2>Total: {{totalPrice | currency}}</h2>
  </div>
</div>
</div>


