<mat-card [appSizeBorder]="'red'">
<div class="book-card">
  <div class="book-image">
    <img [src]="book.imgUrl" alt="">
  </div>
  <div class="book-content">
    <div class="main-content">
      <a [routerLink]="['/product', book.id]">
        <mat-card-title class="book-title">{{ book.name }}</mat-card-title>
      </a>
      <mat-card-content [class]="productCard ? 'book-description' : 'book-description-small'">{{ book.description}}</mat-card-content>
      <mat-card-content class="book-price">{{ book.price | currency}}</mat-card-content>
      <div class="book-actions">
        <button
          *ngIf="!isAdmin; else edit"
          mat-raised-button color="accent"
          [disabled]="!book.isAvailable"
          (click)="onBuy()"
        >
          Buy
        </button>
      </div>
    </div>
    <ng-template #edit>
      <div *ngIf="isAdmin" class="admin-options">
        <button
          mat-raised-button color="accent"
          (click)="editMode()"
        >
          Edit
        </button>
      </div>
    </ng-template>

  </div>
</div>
</mat-card>

